.sidebar {
    flex-direction: column;
    align-items: flex-end;
    width: 310px;
    height: 100%;
    padding: 20px 10px 0 10px;
    background-color: $button-background;
    border-right: $button-border;
}

.sidebar__link {
    color: $secondary-text;
    margin-bottom: 23px;
}

.sidebar__input {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 14px;
    text-align: center;
    border-radius: 5px;
    background-color: $button-hover;
}

.sidebar__list {
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
}

.chat {
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 10px 20px;
}

.chat__header {
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.chat__icon {
    width: 34px;
    height: 34px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: $button-hover;
}

.chat__name {
    margin-right: auto;
    font-weight: 600;
}

.chat__menu {
    width: 15px;
    height: 15px;
}

.chat__window {
    flex-direction: column;
    text-align: center;
    height: 100%;
    overflow-y: auto;
    padding: 48px 0 30px 0;
    border-bottom: 1px solid $button-border;
    border-top: 1px solid $button-border;
}

.chat__footer {
    position: relative;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}

.chat__attach-btn {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.chat__message {
    border-radius: 30px;
    padding: 10px 20px;
    width: 100%;
    margin-right: 10px;
    background-color: $button-hover;
}

.chat__send-btn {
    width: 28px;
    height: 28px;
    transform: rotate(180deg);
}

.chat__time_blue {
    color: $primary-accent;
}
