.profile {
    width: 510px;
    flex-direction: column;
    align-items: center;
}

.profile__form {
    flex-direction: column;
}

.profile__avatar {
    width: 130px;
    height: 130px;
    margin-bottom: 20px;
    border-radius: 50%;
    background-color: $button-hover;
}

.profile__name {
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
}

.profile__list {
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
}

.profile__item_blue {
    color: $primary-accent;
}

.profile__item_red {
    color: $error-red;
}

.profile__save-btn {
    padding: 12px 70px;
}

.back__wrapper {
    position: absolute;
    align-items: center;
    left: 0;
    height: 100%;
    padding: 0 30px;
    background-color: $button-background;
    border-right: 1px solid $button-border;
}
