.error {
    position: relative;
    margin: 0 auto;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error__title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
}
  
.error__descr {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 70px;
}
