 <header class="header flex">
        <nav>
            <ul class="flex nav__list">
                <li class="nav__item"><a href="./index.html">Вход</a></li>
                <li class="nav__item"><a href="./500.html">500</a></li>
                <li class="nav__item"><a href="./chat.html">Чат</a></li>
                <li class="nav__item"><a href="./sign-in.html">Регистрация</a></li>
                <li class="nav__item"><a href="./profile.html">Профиль</a></li>
                <li class="nav__item"><a href="./404.html">404</a></li>
            </ul>
        </nav>
    </header>