@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');

$primary-text: #1E1E1E;
$primary-background: #FFF;
$primary-accent: #3369F3;
$secondary-text: #999;
$button-background: #FBFBFB;
$button-border: #EAEAEA;
$button-hover: #EFEFEF;
$link-hover: #E4EDFD;
$error-red: #FF0000;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.body {
  font-size: 13px;
  line-height: 13px;
  font-weight: 500;
  margin: 0 auto;
  height: 100vh;
  max-width: 100vw;
  position: relative;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  color: $primary-text;
  background-color: $primary-background;
}

.reset-link {
  color: inherit;
  text-decoration: none;
}

.reset-list {
  padding: 0;
  list-style: none;
}

.reset-input {
  outline: none;
  border: none;
}

.reset-btn {
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.flex {
  display: flex;
}

.back-link {
  font-size: 11px;
  line-height: 11px;
  color: $primary-accent;
}

.container {
  margin: 0 auto;
  position: relative;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.form {
  flex-direction: column;
  min-height: 450px;
  padding: 50px 30px 30px 30px;
  border-radius: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .14);
}

.form__item {
  flex-direction: column;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.action-button {
  margin-top: auto;
  border-radius: 8px;
  padding: 12px 0;
  color: $primary-background;
  background-color: $primary-accent;
}

.common-button {
  margin-top: 14px;
  font-size: 11px;
  line-height: 11px;
  color: $primary-accent;
}

@import '../../src/components/Nav/nav.scss';
@import '../../src/components/Auth/auth.scss';
@import '../../src/components/AuthField/authField.scss';
@import '../../src/components/Chat/chat.scss';
@import '../../src/components/Dialog/dialog.scss';
@import '../../src/components/Error/error.scss';
@import '../../src/components/Message/message.scss';
@import '../../src/components/Profile/profile.scss';
@import '../../src/components/ProfileField/profileField.scss';
@import '../../src/components/Sender/sender.scss';
