<main class="flex main">
    <section class="sidebar flex">
        <a class="sidebar__link" href="./profile.html">Профиль</a>
        <input class="sidebar__input" type="text" placeholder="Поиск">

        <ul class="sidebar__list flex">
            <li class="sidebar__item">{{> sender name="Андрей" sender_message="Изображение" date="10:49"
                message_count="2"}}</li>
            <li class="sidebar__item">{{> sender name="Андрей"
                sender_message="ИзображениеИзображениеИзображениеИзображение" date="10:49" message_count="0"}}</li>
            <li class="sidebar__item">{{> sender name="Андрей" sender_message="Изображение" date="10:49"
                message_count="2"}}</li>
            <li class="sidebar__item">{{> sender name="Андрей" sender_message="Изображение" date="10:49"
                message_count="4"}}</li>
                <li class="sidebar__item">{{> sender name="Андрей" sender_message="Изображение" date="10:49"
                message_count="4"}}</li>
            <li class="sidebar__item">{{> sender name="Андрей" sender_message="Изображение" date="10:49"
                message_count="4"}}</li>
            <li class="sidebar__item">{{> sender name="Андрей" sender_message="Изображение" date="10:49"
                message_count="4"}}</li>
            <li class="sidebar__item">{{> sender name="Андрей" sender_message="Изображение" date="10:49"
                message_count="4"}}</li>
        </ul>
    </section>

    <section class="chat flex">
        <div class="chat__header flex">
            <button class="chat__icon"></button>
            <span class="chat__name">Вадим</span>
            <button class="chat__menu">{{> menu-icon}}</button>
        </div>
        <div class="chat__window flex">
            <span class="chat__date">19 июля</span>
            <div class="chat__dialog">
                <div class="chat__text-wrapper">
                    <p class="chat__sender-text">
                        Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент
                        попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что
                        астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на
                        поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.

                        Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так
                        никогда
                        и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000
                        евро.
                    </p>
                    <span class="chat__time">11:56</span>
                </div>
               
                <div class="chat__img-wrapper">
                    <div class="chat__img"></div>
                    <span class="chat__time chat__time_rounded">11:56</span>
                </div>

                <div class="chat__text-wrapper">
                    <p class="chat__sender-text">
                        Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент
                        попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что
                        астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на
                        поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.

                        Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так
                        никогда
                        и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000
                        евро.
                    </p>
                    <span class="chat__time">11:56</span>
                </div>
               
                <div class="chat__img-wrapper">
                    <div class="chat__img"></div>
                    <span class="chat__time chat__time_rounded">11:56</span>
                </div>

                
                <div class="chat__own-message flex">
                    <p>Круто!</p>
                    <span class="chat__time chat__time_blue">11:56</span>
                </div>
            </div>
        </div>
        <div class="chat__footer flex">
            <button class="chat__attach-btn">{{> attach-icon}}</button>
            <input class="chat__message" type="text" name="message" placeholder="Сообщение">
            <button class="chat__send-btn">{{> back-icon}}</button>
        </div>
    </section>
</main>
