<header class="header flex">
  <nav>
    <ul class="flex nav__list reset-list">
      <li class="nav__item"><a
          class="reset-link"
          href="./index.html"
        >Вход</a></li>
      <li class="nav__item"><a class="reset-link" href="./500.html">500</a></li>
      <li class="nav__item"><a
          class="reset-link"
          href="./chat.html"
        >Чат</a></li>
      <li class="nav__item"><a
          class="reset-link"
          href="./signin.html"
        >Регистрация</a></li>
      <li class="nav__item"><a
          class="reset-link"
          href="./profile.html"
        >Профиль</a></li>
      <li class="nav__item"><a class="reset-link" href="./404.html">404</a></li>
    </ul>
  </nav>
</header>