<main class="flex main">
    <form action="#" class="form flex">
        <h1 class="form__title">Вход</h1>
        <ul class="flex form__list reset-list">
            <li class="form__item flex">{{> input label="Логин" name="login"}}</li>
            <li class="form__item flex">{{> input label="Пароль" name="password"}}</li>
        </ul>
        <button class="action-button reset-btn">Войти</button>
        <button class="common-button reset-btn">Создать аккаунт</button>
    </form>
</main>
