.nav {
    justify-content: center;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 50%;
    transform: translateX(50%);
}

.nav__item {
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.nav__list {
    font-size: 15px;
    line-height: 15px;
    color: $primary-accent;
}
