.form__title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
}

.form__list {
    flex-direction: column;
    margin-bottom: 40px;
  }

.invalid {
    color: $error-red;
}

.error__message{
    position: absolute;
    bottom: -14px;
    left: 0;
    font-size: 12px;
    line-height: 12px;
    color: $error-red;
}
